<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.daji.mapper.SelectOrderMapper">
    <select id="selectAll" resultType="SelectOrder" parameterType="SelectOrderPatementer">
        SELECT * FROM
        (SELECT w.`waybill_number` AS waybillNumber,w.order_date as orderDate,w.product_number as productNumber,w.shipment_id as `shipmentId`,w.`participation_number` AS participationNumber ,w.`tracking_number` AS trackingNumber,
        w.`send_date` AS sendDate ,b.`branch_name` AS branchName ,c.`code` AS clientCode,c.name AS clientName ,bu.business_name AS serviceType,
        a.id AS assignCode ,a.name AS assignName,d.code AS destCode,d.country_code AS destName ,d.english_name AS destEnglishName ,o.state AS orderState ,s.name AS shihpName
        FROM waybill_info w,branch_basics_info b,customer_management c,assign_route a,destination_management d,
        shipment_route s,order_state_info o,business_type bu,child_orders_info co
        WHERE w.`site_id`=b.`branch_coding` AND c.code=w.`client_id` AND a.id=w.`course_race` AND d.`code`=w.`bourn`
        AND s.`id`=w.`shipment_race` AND o.id=w.`order_status` AND bu.id=w.`service_type` and co.waybill_number=w.waybill_number
        <if test="openTime!=null">
            AND w.`send_date`&gt;=#{openTime}
        </if>
        <if test="endTime!=null">
            AND w.`send_date`&lt;=#{endTime}
        </if>
        <if test="siteId!=null and siteId!=''">
            AND w.`site_id`=#{siteId}
        </if>
        <if test="customerType!=null and customerType!=''">
            AND c.`customer_type`=#{customerType}
        </if>
        <if test="code!=null and code!=''">
            AND c.`code`=#{code}
        </if>
        <if test="serviceType!=null">
            AND w.`service_type`=#{serviceType}
        </if>
        <if test="assignTypeId!=null and assignTypeId!=''">
            AND a.`type_id`=#{assignTypeId}
        </if>
        <if test="assignId!=null and assignId!=''">
            AND a.`id`=#{assignId}
        </if>
        <if test="bourn!=null and bourn!=''">
            AND w.`bourn`=#{bourn}
        </if>
        <if test="shipmentTypeId!=null and shipmentTypeId!=''">
            AND s.`type_id`=#{shipmentTypeId}
        </if>
        <if test="shipmentId!=null and shipmentId!=''">
            AND s.`id`=#{shipmentId}
        </if>

        <if test="orderState!=null and orderState!=''">
            AND o.`id`=#{orderState}
        </if>



         <if test="threeNumber!=null and threeNumber!=''">
             OR w.`waybill_number` LIKE CONCAT ('%',#{threeNumber},'%')
              OR w.`tracking_number` LIKE CONCAT ('%',#{threeNumber},'%')
              OR w.`participation_number` LIKE CONCAT ('%',#{threeNumber},'%')
         </if>
        <if test="allNumber!=null and allNumber!=''">
          <if test="typeId!=null and typeId==1">
              and w.`waybill_number` LIKE CONCAT ('%',#{allNumber},'%')
          </if>
            <if test="typeId!=null and typeId==2">
                and w.`tracking_number` LIKE CONCAT ('%',#{allNumber},'%')
            </if>
            <if test="typeId!=null and typeId==3">
                and w.`participation_number` LIKE CONCAT ('%',#{allNumber},'%')
            </if>
            <if test="typeId!=null and typeId==4">
                and w.`product_number` LIKE CONCAT ('%',#{allNumber},'%')
            </if>
            <if test="typeId!=null and typeId==5">
                and co.`child_order_number` LIKE CONCAT ('%',#{allNumber},'%')
            </if>

            <if test="typeId!=null and typeId==6">
                and w.`shipment_id` LIKE CONCAT ('%',#{allNumber},'%')
            </if>


        </if>


        ) w,

        (SELECT c.waybill_number AS waybill_number,c.declared_value as declaredValue,c.bulk as bulk,c.quantity as quantity,c.shipment_weight as shipmentWeight,c.receipt_note as receiptNote,c.delivery_note as deliveryNote, cu.customs_way AS customsWay,ca.cargo_type AS cargoType,p.packaging_name AS packagingName,
        c.`number_cases` AS numberCases ,c.`true_weight` AS trueWeight ,c.`weight` AS weight ,c.`charge_weight` AS chargeWeight
        ,c.`chinese_name` AS chineseName ,c.`english_name` AS englishName ,c.`example_weight` AS exampleWeight
        FROM cargo_info c ,customs_clearance_info cu,cargo_type_info ca,packaging_type p
        WHERE c.`customs_way`=cu.id AND c.`cargo_type`=ca.id AND c.`packaging_type`=p.id
        <if test="packageId!=null and packageId!=''">
            AND p.`id`=#{packageId}
        </if>
        <if test="cragoId!=null and cragoId!=''">
            AND ca.`id`=#{cragoId}
        </if>
        <if test="customsWay!=null and customsWay!=''">
            AND cu.`id`=#{customsWay}
        </if>


        ) c,
        (SELECT pa.pay_type AS payType,p.waybill_number AS waybill_number,p.payment as payment,p.tax_payment AS taxPayment,p.agency_payment AS agencyPayment,p.agency_currency AS agencyCurrency FROM pay_info p ,payment_method_info pa
        WHERE p.payment_method = pa.id
        <if test="paymentMethod!=null and paymentMethod!=''">
            AND p.`payment_method`=#{paymentMethod}
        </if>
        <if test="taxPayment!=null and taxPayment!=''">
            AND p.`tax_payment`=#{taxPayment}
        </if>

        ) p
        WHERE c.`waybill_number`=w.`waybillNumber` AND w.`waybillNumber`=p.waybill_number

    </select>

</mapper>